/*----------------------------------------------------
VARIABLES
-----------------------------------------------------*/
:root {
    --radius: 5px;

    --sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --serif-font: Georgia, 'Times New Roman', Times, serif;

    /* https://clrs.cc/ */
    --blue: #0074D9;
    --light-blue: #CAE9FB;
    --teal: #39CCCC;
    --green: #2ECC40;

    --olive: #3D9970;

    --yellow: #FFDC00;
    --orange: #FF851B;
    --red: #FF4136;

    --white: #FFFFFF;
    --silver: #DDDDDD;
    --gray: #AAAAAA;
    --black: #111111;
}



/*----------------------------------------------------
MAIN LAYOUT
-----------------------------------------------------*/
/* universal box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    font-size: 62.5%;

    color: var(--black);
    font-family: var(--sans-serif-font);

    /* Have the scroll bars always on so there's not a shift in the layout
    when going from a non-scrolling page to a scrolling-page */
    overflow-y: scroll;
}

body {
    /* Default font-size */
    padding-top: 100px;
    font-size: 1.6rem;
}

h2 {
    font-size: 45pt;
    font-family: Nunito;
    font-weight: 500;
    text-transform: uppercase;
}
h3 {
    font-size: 25pt;
    font-family: Nunito;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    font-size: 15pt;
    font-family: Nunito;
    font-weight: 300;
    text-transform: uppercase;
}


p {
    font-size: 10pt;
    font-family: Nunito;
    font-weight: 100;
}

#app {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

#header {
    float: left;
    margin-top: 80px;

}

#logo {
    /* Actual width is 636; displaying at half-size for retina screens */
    width: 250px;
    position: absolute;
    top:20px;
    left:20px;
    margin: 20px;
    /* margin-top: 15px; */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    float: right;
    margin: -50px 20px 100px 0;
}

nav ul li a:link,
a:visited,
/* a:hover, */
a:active {
    /* Ref: https://stackoverflow.com/a/49783868 for why inline-block is added */
    display: inline-block;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: var(--blue);
    

}

nav ul li a.router-link-active:link,
a.router-link-active:visited,
a.router-link-active:hover,
a.router-link-active:active {
    text-decoration: none;
    color: var(--black);
    background-color: #d8e3e4;
    border-radius: 4px;
    cursor: inherit;
}

label {
    font-family: Nunito;
    font-size: 13pt;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
}

input,textarea {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ebf0f3;
    border: none;
    font-family: Nunito;
    font-size: 13pt;
    font-weight: 300;
}

button {
    background-color: #004394;
    font-family: Nunito;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: white;
    cursor: pointer;
}

/*----------------------------------------------------
MISC
-----------------------------------------------------*/
.clean-list {
    list-style-type: none;
    padding: 0;
}

.alert {
    background-color: var(--green);
    color: var(--white);
    border-radius: radius;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

/* .fade-leave-active below version 2.1.8 */
.fade-enter,
.fade-leave-to {
    opacity: 0;
}