/*----------------------------------------------------
VARIABLES
-----------------------------------------------------*/
:root {
    --radius: 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Nunito';
    src: url(https://fonts.googleapis.com/css?family=Nunito);
  }

html {
    font-size: 62.5%;

    color: var(--black);
    font-family: Nunito;

    /* Have the scroll bars always on so there's not a shift in the layout
    when going from a non-scrolling page to a scrolling-page */
    overflow-y: scroll;
}

body {
    /* Default font-size */
    font-size: 1.6rem;
}

h1 {
    font-size: 25pt;
    font-family: Nunito;
    font-weight: 500;
    text-transform: uppercase;
}
h2 {
    font-size: 25pt;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-size: 15pt;
    font-weight: 300;
    text-transform: uppercase;
}


p {
    font-size: 10pt;
    font-weight: 100;
}

#app {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

#logo {
    width: 250px;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    float: left;
    padding: 80px;
}

nav ul li a:link,
a:visited,
a:active {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #004394;
    

}

nav ul li a.router-link-active:link,
a.router-link-active:visited,
a.router-link-active:hover,
a.router-link-active:active {
    text-decoration: none;
    color: white;
    background-color: #004394;
    border-radius: 4px;
    cursor: inherit;
}

label {
    font-family: Nunito;
    font-size: 13pt;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
}

input,textarea {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ebf0f3;
    border: none;
    font-family: Nunito;
    font-size: 13pt;
    font-weight: 300;
}

button {
    background-color: #004394;
    font-family: Nunito;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #d8e3e4;
    color: #004394;
    border: none;
  }

