<!doctype html>
<html lang='en'>

<head>
    <title>Rock. Paper. Scissors.</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://unpkg.com/vue@next' defer></script>
    <script src='KD_game_vue.js' defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display">
    <link rel="stylesheet" href="KD_vue_game.css">
</head>


<body>
    <h1>Rock. Paper. Let's play a game.</h1>
    <h3>Choose your fate.</h3>
    <p>If it's a been a minute since you were a kid having fun:
        <br> Rock crushes scissors, scissors cut paper, paper
        covers rock.</p>
    <p>It doesn't have to make sense. Thems are the rules. </p>


    <div id='app' v-cloak>
        <h3>Your Score: {{ userScore }}</h3>
        <h3>Matrix Score: {{ matrixScore }}</h3>

        <div class="buttons">
            <button id="img" v-on:click="play('rock')"><img src="images/rock.png" /></button>
            <button id="img" v-on:click="play('paper')"><img src="images/paper.png" /></button>
            <button id="img" v-on:click="play('scissors')"><img src="images/scissors.png" /></button>

        </div>
        <h3>Your Play: {{ playerOption }}</h3>
        <h3>The Matrix: {{ matrixOption }}</h3>

        <div v-bind:class='{green : youWon, red : youLost, tie : tie }'>
            <h2>{{ feedback }}</h2>
        </div>
        <div v-if="feedback">
            <button v-on:click="resetGame()">Reset Game</button>
        </div>
        <h3>Game History</h3>
        <game-history v-for="(winner, index) in winners" v-bind:winner='winner' v-bind:index='index+1'>
        </game-history>

    </div>
    <script id='game-history' type='text/x-template'>
        <div>
                <ul>
                    <li><p>Round {{ index }}: {{ winner }}</p></li>
                </ul>
            </div>
            </script>

</body>



</html>